<div class="container">
  <p>Your Score: <%= @result[0] %></p>
  <p><%= @result[1] %></p>

  <%= link_to "Play it again", '/new' %><br>
  <img src="https://media.giphy.com/media/UPK4DS13VefEk/giphy.gif" alt="">
</div>
